* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 2px solid #4362b7;
  padding: 40px 10px 0px 40px;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
}

#focus {
  border: 3px solid #21077e;
  box-shadow: 0 0 10px 0 #424ca7;
  position: absolute;
  transition: width 0.2s ease, height 0.2s ease, left 0.2s ease, top 0.2s ease, border-radius 0.2s ease;
  pointer-events: none;
  z-index: 5;
  border-radius: 10px;
  display: none;
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #000;
}

input {
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #070102;
}
input[type=text] {
  width: calc(100% - 30px);
  margin-bottom: 30px;
  border: 2px solid #1c075b;
}
input[type=text]:placeholder-shown {
  border: 2px solid #0f055b;
}
input[type=text]::placeholder {
  color: #051746;
}
input[type=text][half] {
  width: calc(50% - 30px);
  float: left;
  margin-right: 30px;
}
input[type=submit] {
  background: #f2f2f7;
  color: #0b0101;
  border: 2px solid #1e0b72;
  outline: 10px solid rgb(46, 44, 98);
  width: calc(50% - 30px);
  height: 40px;
  margin: 0 30px -20px 0;
  float: right;9
  font-weight: 800;
  font-size: 0.7em;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  cursor: pointer;
}
input[type=submit]:hover {
  outline-width: 0;
}
input:focus {
  outline: 0;
}